.sidebar {
  background-color: #f0ebd1;
  height: 100vh;
  width: 18%;
  float: left;
}

.mainpage {
  height: 100vh;
  padding-left: 23%;
  padding-top: 50px;
}

.catlogo {
  height: 12%;
  width: auto;
  padding-left: 30%;
  padding-top: 30%;
}

.sidebar-button {
  border: 1px #f0ebd1;
  background-color: #f0ebd1;
  height:50px;
  width:100%;
  cursor:pointer;
}

.sidebar-button:hover {
  background-color: #c4bfa3;
}

.username {
  padding-top: 0;
  margin: 0;
  text-align: center;
}

body {
  margin: 0;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}