body {
  margin: 0;
}

.sidebar {
  background-color: #f0ebd1;
  height: 100vh;
  width: 250px;
  float: left;
  position:fixed;
}

.sidebar .catlogo {
  height: 100px;
  width: auto;
  padding-left: 29%;
  padding-top: 30%;
}

.sidebar .sidebar-button {
  border: 1px #f0ebd1;
  background-color: #f0ebd1;
  height:50px;
  width:100%;
  cursor:pointer;
}

.sidebar .sidebar-button:hover {
  background-color: #c4bfa3;
}

.sidebar .username {
  padding-top: 0;
  margin: 0;
  text-align: center;
}

.mainpage {
  height: 100%;
  padding-left: 320px;
  padding-top: 30px;
  overflow-y: hidden;
  position: relative;
}

.mainpage table {
  border-spacing: 0px;
  width: 100%;
  border: 0px solid #ccc;
  border-radius: 20px;
}

.mainpage thead th {
  position: sticky; 
  top: 0; 
  background: whitesmoke;
  font-size:16px;
  font-weight: 100;
  padding:5px;
  text-align:left;
  vertical-align: center;
}

.mainpage td{
  background:#FFFFFF;
  padding:8px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  border-bottom: 0.3px solid #ddd;
}

.mainpage tbody {
  padding-top: 5px;
}

.mainpage .inventorytable {
  background-color: #f0ebd1;
  padding: 25px;
  width: fit-content;
  border-radius: 20px;
}

.mainpage .inventorytable .table{
  border: 0px solid #ccc;
  height: 150px;
  width: 500px; 
  border-radius: 20px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  margin-top: 10px
}

.mainpage .invoicetable {
  background-color: #f0ebd1;
  padding: 25px;
  width: fit-content;
  border-radius: 20px;
  position: absolute;
  left: 0;
  margin-left: 900px;
}

.mainpage .invoicetable .table{
  border: 0px solid #ccc;
  height: 415px;
  width: 500px; 
  border-radius: 20px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  margin-top: 10px
}

.mainpage .ordertable {
  background-color: #f0ebd1;
  padding: 25px;
  width: fit-content;
  border-radius: 20px;
}

.mainpage .ordertable .table {
  border: 0px solid #ccc;
  height: 150px;
  width: 500px; 
  border-radius: 20px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
  margin-top: 10px
}

.mainpage .picturebox {
  background-color: #f0ebd1;
  width: 250px;
  height: 250px;
  border: 0px solid ;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 10px;
  display: inline-block;
}

.mainpage .picturebox-container {
  height: 260px;
  width: 1130px; 
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
